server {
    listen 80;
    server_name {{ kompassi_allowed_hosts }};

{% if kompassi_letsencrypt %}
    location /.well-known/acme-challenge/ {
        alias /srv/letsencrypt/challenges/;
        try_files $uri =404;
    }

{% endif %}
{% if kompassi_ssl %}
    location / {
        return 302 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    server_name {{ kompassi_allowed_hosts }};

    add_header Strict-Transport-Security max-age=15768000;

    ssl_certificate {{ kompassi_ssl_certificate }};
    ssl_certificate_key {{ kompassi_ssl_certificate_key }};

{% endif %}
    location ~ ^/static/(.*)$ {
        alias /srv/{{ kompassi_hostname }}/public_html/static/$1;
        expires 30m;
    }

    rewrite ^/favicon.ico$ /static/favicon.ico last;
    gzip_static on;
    client_max_body_size 30m;

    location / {
        proxy_pass http://localhost:{{ kompassi_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_read_timeout 300;
    }
}
