DATABASE_URL=postgres://{{ kompassi_postgresql_username }}:{{ kompassi_postgresql_password }}@postgres/{{ kompassi_postgresql_database }}
CACHE_URL={{ kompassi_cache_url }}
SECRET_KEY={{ kompassi_secret_key }}
ALLOWED_HOSTS={{ kompassi_allowed_hosts }}
ADMINS={{ kompassi_admins }}
KOMPASSI_INSTALLATION_SLUG={{ kompassi_installation_slug }}
EMAIL_HOST={{ kompassi_email_host }}
DEFAULT_FROM_EMAIL={{ kompassi_default_from_email }}
NEXMO_USERNAME={{ kompassi_nexmo_username }}
NEXMO_PASSWORD={{ kompassi_nexmo_password }}
NEXMO_FROM={{ kompassi_nexmo_from }}
NEXMO_INBOUND_KEY={{ kompassi_inbound_key }}
KOMPASSI_CROWD_APPLICATION_NAME={{ kompassi_crowd_application_name }}
KOMPASSI_CROWD_APPLICATION_PASSWORD={{ kompassi_crowd_application_password }}
KOMPASSI_DESUPROFILE_OAUTH2_CLIENT_ID={{ kompassi_desuprofile_oauth2_client_id }}
KOMPASSI_DESUPROFILE_OAUTH2_CLIENT_SECRET={{ kompassi_desuprofile_oauth2_client_secret }}
BROKER_URL=amqp://{{ kompassi_rabbitmq_username }}:{{ kompassi_rabbitmq_password }}@rabbitmq/{{ kompassi_rabbitmq_vhost }}
KOMPAQ_URL=amqp://{{ kompassi_rabbitmq_username }}:{{ kompassi_rabbitmq_password }}@rabbitmq/{{ kompassi_rabbitmq_vhost }}
GOOGLE_ANALYTICS_TOKEN={{ kompassi_google_analytics_token }}
