server {
    listen 80{% if pgadmin4_default %} default_server{% endif %};
    server_name {{ pgadmin4_hostname }};

{% if pgadmin4_letsencrypt %}
    location /.well-known/acme-challenge/ {
        alias /srv/letsencrypt/challenges/;
        try_files $uri =404;
    }

{% endif %}
{% if pgadmin4_ssl %}
    location / {
        return 302 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2{% if pgadmin4_default %} default_server{% endif %};
    server_name {{ pgadmin4_hostname }};

    add_header Strict-Transport-Security max-age=15768000;

    ssl_certificate {{ pgadmin4_ssl_certificate }};
    ssl_certificate_key {{ pgadmin4_ssl_certificate_key }};
{% endif %}

    location / {
        proxy_pass http://localhost:{{ pgadmin4_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
    }
}
