server {
    server_name {{ redirect_allowed_hosts }};
    listen 80{% if redirect_default %} default_server{% endif %};
{% if redirect_ssl %}
    listen 443 ssl http2{% if redirect_default %} default_server{% endif %};

    ssl_certificate {{ redirect_ssl_certificate }};
    ssl_certificate_key {{ redirect_ssl_certificate_key }};

{% endif %}
{% if redirect_letsencrypt %}
    location /.well-known/acme-challenge/ {
        alias /srv/letsencrypt/challenges/;
        try_files $uri =404;
    }

{% endif %}
    location = / {
        return 302 "{{ redirect_target }}";
    }

    location / {
        return 302 "{{ redirect_target }}$request_uri";
    }
}
