metadata_dir = "{{ garage_metadata_dir }}"
data_dir     = "{{ garage_data_dir }}"
db_engine    = "lmdb"

replication_factor = 1   # single node

rpc_bind_addr   = "{{ garage_rpc_bind_addr }}"
rpc_public_addr = "{{ garage_rpc_bind_addr }}"
rpc_secret      = "{{ garage_rpc_secret }}"

[s3_api]
s3_region     = "{{ garage_s3_region }}"
api_bind_addr = "{{ garage_s3_api_bind_addr }}"   # localhost only — nginx proxies from :443

[admin]
api_bind_addr = "{{ garage_admin_bind_addr }}"
