server {
    listen 80;
    server_name {{ tracontent_alias_nginx_server_name_list|join(" ") }};

{% if tracontent_alias_letsencrypt %}
    location /.well-known/acme-challenge/ {
        alias /srv/letsencrypt/challenges/;
        try_files $uri =404;
    }

{% endif %}
{% if tracontent_alias_ssl %}
    location / {
        return 302 https://$host$request_uri;
    }
}

server {
    listen 443 http2;
    server_name {{ tracontent_alias_nginx_server_name_list|join(" ") }};

    add_header Strict-Transport-Security max-age=15768000;

    ssl on;
    ssl_certificate {{ tracontent_alias_ssl_certificate }};
    ssl_certificate_key {{ tracontent_alias_ssl_certificate_key }};

{% endif %}
    location ~ ^/static/(.*)$ {
        alias {{ tracontent_alias_static_dir }}/$1;
        expires 30m;
    }

    rewrite ^/favicon.ico$ /static/favicon.ico last;
    gzip_static on;

    location / {
        proxy_pass http://localhost:{{ tracontent_alias_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
    }
}
