server {
    listen 80;
    server_name {{ tracontent_allowed_host_list|join(" ") }};

{% if tracontent_letsencrypt %}
    location /.well-known/acme-challenge/ {
        alias /srv/letsencrypt/challenges/;
        try_files $uri =404;
    }

{% endif %}
{% if tracontent_ssl %}
    location / {
        return 302 https://$host$request_uri;
    }
}

server {
    listen 443 http2;
    server_name {{ tracontent_allowed_host_list|join(" ") }};

    add_header Strict-Transport-Security max-age=15768000;

    ssl on;
    ssl_certificate {{ tracontent_ssl_certificate }};
    ssl_certificate_key {{ tracontent_ssl_certificate_key }};

{% endif %}
    location ~ ^/static/(.*)$ {
        alias {{ tracontent_static_dir }}/$1;
        expires 30m;
    }

{% if tracontent_favicon %}
    rewrite ^/favicon.ico$ {{ tracontent_favicon }} last;
{% else %}
    location = /favicon.ico {
        return 410;
    }
{% endif %}
    gzip_static on;
    client_max_body_size 30m;

    location / {
        proxy_pass http://localhost:{{ tracontent_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
