ADMINS={{ edegal_admins }}
ALLOWED_HOSTS={{ edegal_allowed_hosts }}
BROKER_URL=amqp://{{ edegal_rabbitmq_username }}:{{ edegal_rabbitmq_password }}@rabbitmq/{{ edegal_rabbitmq_vhost }}
CACHE_URL={{ edegal_cache_url }}
DATABASE_URL=postgres://{{ edegal_postgresql_username }}:{{ edegal_postgresql_password }}@postgres/{{ edegal_postgresql_database }}
DEFAULT_FROM_EMAIL={{ edegal_default_from_email }}
EDEGAL_COPPERMINE_DATABASE_URL=mysql://{{ edegal_coppermine_mysql_username }}:{{ edegal_coppermine_mysql_password }}@{{ edegal_coppermine_mysql_host }}/{{ edegal_coppermine_mysql_database }}
EDEGAL_FRONTEND_URL=https://{{ edegal_hostname }}
EMAIL_HOST={{ edegal_email_host }}
KOMPASSI_OAUTH2_CLIENT_ID={{ edegal_kompassi_oauth2_client_id }}
KOMPASSI_OAUTH2_CLIENT_SECRET={{ edegal_kompassi_oauth2_client_secret }}
SECRET_KEY={{ edegal_secret_key }}
