DATABASE_URL=postgres://{{ edegal_postgresql_username }}:{{ edegal_postgresql_password }}@postgres/{{ edegal_postgresql_database }}
CACHE_URL={{ edegal_cache_url }}
SECRET_KEY={{ edegal_secret_key }}
ALLOWED_HOSTS={{ edegal_allowed_hosts }}
ADMINS={{ edegal_admins }}
EMAIL_HOST={{ edegal_email_host }}
DEFAULT_FROM_EMAIL={{ edegal_default_from_email }}
EDEGAL_COPPERMINE_DATABASE_URL=mysql://{{ edegal_coppermine_mysql_username }}:{{ edegal_coppermine_mysql_password }}@{{ edegal_coppermine_mysql_host }}/{{ edegal_coppermine_mysql_database }}
BROKER_URL=amqp://{{ edegal_rabbitmq_username }}:{{ edegal_rabbitmq_password }}@rabbitmq/{{ edegal_rabbitmq_vhost }}
