server {
    listen 80;
    server_name {{ edegal_allowed_hosts }};

{% if edegal_letsencrypt %}
    location /.well-known/acme-challenge/ {
        alias /srv/letsencrypt/challenges/;
        try_files $uri =404;
    }

{% endif %}
{% if edegal_ssl %}
    location / {
        return 302 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    server_name {{ edegal_allowed_hosts }};

    add_header Strict-Transport-Security max-age=15768000;

    ssl_certificate {{ edegal_ssl_certificate }};
    ssl_certificate_key {{ edegal_ssl_certificate_key }};

{% endif %}
    rewrite ^/favicon.ico$ /static/favicon.ico last;
    gzip_static on;

    location /static/ {
        alias /srv/{{ edegal_hostname }}/public_html/static/;
        expires 30m;
    }

    location /media/coppermine_albums/ {
        alias /mnt/coppermine_albums/;
        expires 30m;
    }

    location /media/ {
        alias /srv/{{ edegal_hostname }}/public_html/static/;
        expires 30m;
    }

    location /admin {
        proxy_pass http://localhost:{{ edegal_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_read_timeout 300;
    }

    location /api {
        proxy_pass http://localhost:{{ edegal_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_read_timeout 300;
    }

    location / {
        alias /srv/{{ edegal_hostname }}/public_html/;
        try_files $uri /index.html;
    }
}
