# configuration example https://github.com/prometheus/alertmanager
# full documentation https://prometheus.io/docs/alerting/configuration/


global:
  smtp_smarthost: '{{ alertmanager_smtp_server }}'
  smtp_from: '{{ alertmanager_smtp_from }}'
  slack_api_url: '{{ alertmanager_slack_webhook_url }}'



route:
  receiver: admins
  group_by: ['alertname', 'cluster']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  routes: []


inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname']


receivers:
  - name: admins
    slack_configs:
      - channel: 'tekniikka'
        send_resolved: true
    email_configs:
{% for admin_email in alertmanager_admin_emails %}
      - to: "{{ admin_email }}"
{% endfor %}
