server {
    listen 80;
    server_name {{ prometheus_hostname }};

{% if prometheus_letsencrypt %}
    location /.well-known/acme-challenge/ {
        alias /srv/letsencrypt/challenges/;
        try_files $uri =404;
    }

{% endif %}
{% if prometheus_ssl %}
    location / {
        return 302 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    server_name {{ prometheus_hostname }};

    ssl_certificate {{ prometheus_ssl_certificate }};
    ssl_certificate_key {{ prometheus_ssl_certificate_key }};
{% endif %}

    location / {
        proxy_pass http://localhost:{{ prometheus_port }};
        proxy_read_timeout 300;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;

        auth_basic "{{ prometheus_hostname }}";
        auth_basic_user_file /etc/nginx/{{ prometheus_hostname }}.htpasswd;
    }
}
