application.name                        {{ item.username }}
application.password                    {{ item.password }}
application.login.url                   https://crowd.tracon.fi/crowd/console/

crowd.server.url                        https://crowd.tracon.fi/crowd/services/
crowd.base.url                          https://crowd.tracon.fi/crowd/

session.isauthenticated                 session.isauthenticated
session.tokenkey                        session.tokenkey
session.validationinterval              2
session.lastvalidation                  session.lastvalidation
