server {
    listen 80;
    server_name crowd.tracon.fi;

    location / {
        return 301 https://crowd.tracon.fi$request_uri;
    }

    location /.well-known/acme-challenge/ {
        alias /srv/letsencrypt/challenges/;
        try_files $uri =404;
    }
}

server {
    listen 443 http2 ssl;
    server_name crowd.tracon.fi;

    ssl_certificate /etc/ssl/private/tmp/crowd.crt;
    ssl_certificate_key /etc/ssl/private/tmp/crowd.pem;

    add_header Strict-Transport-Security max-age=15768000;

    location / {
        proxy_pass http://127.0.0.1:8095;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
    }
}

